<template>
  <div>
    <b-carousel-slide :img-src="download_url"></b-carousel-slide>
  </div>
</template>

<script>
// :caption="'Author\: ' + name1"
export default {
  props: ["name1", "download_url"]
};
</script>

<style lang="scss" scoped></style>
