<template>
  <div id="app1">
    <b-navbar toggleable="lg" type="dark" variant="info">
      <b-navbar-brand href="#">{{ title }}</b-navbar-brand>
      <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>
      <b-collapse id="nav-collapse" is-nav> </b-collapse>
    </b-navbar>
  </div>
</template>

<script>
export default {
  name: "app1",
  data() {
    return {
      title: "Web Gallery"
    };
  }
};
</script>

<style lang="scss" scoped>
.b-navbar {
  text-align: center;
}
</style>
